p{
    text-align: left;
    padding: 0 0 0 10px;
}

h3{
    text-align: left;
    padding: 0 0 0 10px;
}

h6 {
    text-align: right;
    padding: 0 10px 0 0;
}

.header{
    background-color: red;
    color: black;
    text-align: center;
    margin: 0 0 10px 0;

}

.lead{
    color: black;
    background-color: white;
    padding: 0 0 0 10px;
}

.image{
    width: 100%;
    text-align: center;
    text-size-adjust: 10;
    padding: 0 0 10px 0;
}

.leftside{
    padding: 0 10px 0 10px;
    width: 100%;
    text-align: center;
    color: black;
    justify-content: center;
}

.rightcolumn{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
}

.sipicks{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
}

img {
    width: 50%;
}

.logos{
    width: 50px;
    height: 50px;
}

.picks{
    height: 200px;
    width: 150px;
}

.iowa{
    height: 200px;
    width: 300px;
}

.allconference{
    height: 200px;
    width: 150px;
}

.logos{
    width: 50px;
    height: 50px;
}