.header{
    color: slategray;
    text-align: center;
    margin: 0 0 10px 0;
}

.subhead{
    text-align: center;
}

.leftside{
    padding: 10px;
    width: 100%;
}

.rightcolumn{
    padding: 10px;
    width: 100%;
}

.back{
    padding: 10px;
    text-align: right;
}

img{
    width: 100%;
}

.tweet{
    text-align: center;
    padding: 10px;
}